@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "tailwindcss";

@theme {
    --font-nunito: "Nunito", sans-serif;

    --tg-safe-area-inset-top: calc(var(--spacing) * 4);
    --tg-content-safe-area-inset-top: calc(var(--spacing) * 10);
}
