[Unit]
Description=Olastudio web application and telegram bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ola
Group=ola

WorkingDirectory=/var/www/olastudio-ekb.ru
ExecStart=/var/www/olastudio-ekb.ru/ola

UMask=0027

# Не перезапускать при падении (по умолчанию и так no, но явно читаемее)
Restart=no

# Небольшая “закалка”, обычно не ломает Go-сервисы
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
RestrictNamespaces=true

[Install]
WantedBy=multi-user.target
