<!doctype html>
<html class="scroll-smooth" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">
    {{ if .IsProduction }}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=107050928', 'ym');

        ym(107050928, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/107050928" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {{ end }}
    {{ .Head }}
</head>
<body class="antialiased font-inter overflow-x-hidden">
{{ template "header" . }}

<main class="max-w-4xl mx-auto px-4">
    <article class="pt-30 pb-15">
        <h2 class="text-3xl font-bold text-grape mb-10">Условия доставки</h2>
        <div class="flex flex-col gap-8 text-xl font-medium">
            <p>Доставка осуществляется круглосуточно. Стоимость доставки фиксированная - 250 рублей по обычному тарифу с 9:00 до 22:30.</p>
            <p>В ночное время (с 22:30 до 9:00) и/или для отдалённых районов стоимость доставки рассчитывается отдельно.</p>
            <p>Мы привозим заказы в удобное для Вас время. Среднее время доставки заказа от 1 до 3 часов. В связи с высоким трафиком, неблагоприятными погодными условиями, ожиданием клиентов на заказах, предпраздничными и праздничными днями время доставки может быть увеличено.</p>
            <p><i>Просим вас указывать временной интервал при оформлении заказа!</i></p>
            <p>Самовывоз возможен по предварительной договоренности с менеджером. При самовывозе 45-50 шаров с гелием, будьте внимательны, так как большая композиция займет весь автомобиль и обзор для водителя будет осложнен.</p>
        </div>
    </article>

    <article class="pt-15 pb-15">
        <h2 class="text-3xl font-bold text-grape mb-10">Условия оплаты</h2>
        <div class="flex flex-col gap-8 text-xl font-medium">
            <p>Оплата производится путем безналичного перевода суммы заказа на расчетный счет Продавца. После подтверждения заказа, вам будет направлена ссылка на оплату. Проверьте, чтобы сумма соответствовала сумме вашего заказа.</p>
            <p><strong>При оплате по СБП, банк зачисляет сумму в течении 15 минут.</strong><br>При оплате картой, срок зачисления денежных средств может составлять от 1 до 5 дней.</p>
            <p>Для оплаты Вы будете перенаправлены на платёжный шлюз ООО «ТОЧКА БАНК». После проведения оплаты вам будет выдан подтверждающий оплату документ (чек) соответстующего банка. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. Конфиденциальность сообщаемой персональной информации обеспечивается ООО «ТОЧКА БАНК». Введённая информация не предоставляется третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe.</p>
        </div>
    </article>

    <article class="pt-15 pb-15">
        <h2 class="text-3xl font-bold text-grape mb-10">Условия возврата</h2>
        <div class="flex flex-col gap-8 text-xl font-medium">
            <p>Покупатель в праве отказаться от товара ненадлежащего качества. Возврат товара осуществляется в соответствии с законодательством Российской Федерации.</p>
            <p>Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его лицом. Некоторые виды товаров являются результатом творческой деятельности Продавца. Товар состоит из частей, образующих единую индивидуальную композицию.</p>
            <p>Возврат товара ненадлежащего качества осуществляется при передаче его Покупателю, курьерской доставкой или в месте его получения.<br>При возврате товара ненадлежащего качества, Продавец осуществляет банковский перевод, в размере цены части некачественного товара, в течении 10 дней с момента совершения покупки. Цена части товара обсуждается с Продавцом, перед совершением оплаты товара и зависит от наполнения части товара. Срок возврата денежных средств зависит от платежной системы.</p>
            <p>Если Покупатель не может самостоятельно забрать денежные средства, за него это может сделать доверенное лицо. В этом случае, осуществить возврат можно будет только при предъявлении доверенности и паспорта.</p>
            <p>Продавец предоставляет гарантию на время полета, при условии правильной эксплуатации единой композиции и сохранения ее целостности и целостности ее частей. Товаром ненадлежащего качества является товар, время полета которого составило менее 12 часов.<br>Производителями материалов частей товара установлены условия эксплуатации, при нарушении которых, товар не подпадает под гарантийный случай. Покупатель имеет право запросить наименование Производителя части товара у Продавца.<br>В условиях повышенной влажности (свыше 75%) срок гарантийного полета товара сокращается в 2 раза.</p>
            <p>После передачи шаров покупателю ответственность за сохранность шаров целиком и полностью ложится на покупателя.</p>
            <p>При гарантийном случае, вы можете связаться с Продавцом по средствам информационно-телекоммуникационной сети Интернет, направив соответствующее уведомление на электронную почту: olastudio-ekb@yandex.ru, при этом приложив фотографию композиции и части, ненадлежащего качества.</p>
            <p>Замена частей товара, производится в течение 24 часов с момента обращения клиента, в случае, если был зафиксирован гарантийный случай.</p>
            <p>Обращайтесь с шарами бережно и аккуратно, тогда композиция прослужит вам долгий срок.<br>Излишнее механическое воздействие влияет на срок службы товара.<br>Просим Вас быть осторожными, оградить воздушные шарики от домашних животных и избегать их соприкосновения с острыми предметами и шероховатыми поверхностями.</p>
            <p>Правила хранения и эксплуатации готовой композиции:<br>Напоминаем, что мы создаем композицию в условиях комнатной температуры и при ее понижении размер частей композиции может изменяться.<br>Следует избегать попадания прямых солнечных лучей и/или осадков на поверхность шара, пониженной температуры и сквозняков в помещение, где происходит хранение шаров.</p>
        </div>
    </article>
</main>
</body>
</html>
